<div class="container">
    <%= breadcrumbs %>
    
    <h1 class="text-center home-title">Welcome to Rails Memo</h1>
    <h3>Search by Keywords</h3>
    <div class="search-wrapper">
    <%= form_tag post_index_path, :method => 'get' do %> 
      <p>
        <%= text_field_tag :search, params[:search], class:"form-control search-box" %>
        <%= submit_tag "Search", :name => nil, :class =>"btn btn-info search-button" %>
      </p>
    <% end %>
    </div>
    <div class="front-btn">
         <a class="btn btn-default" href="/post/index" role="button">Go to All Posts</a>
         <a class="btn btn-default" href="/post/new" role="button">Create New</a>
    </div>
</div>
