<div class="container">
    <%= breadcrumbs %>
<h1 class="text-center home-title">Rails Memo</h1>

<a class="btn btn-default" href="/post/index" role="button">Go Back to Index</a>
<a class="btn btn-default" href="/post/new" role="button">Create New</a>

</div>