<div class="container">
    
    <% breadcrumb :post_show %>
    
<h3>Detail Page</h3>

<p>Tilte</p>
<%= @post.post %>
<p>Description</p>
<%= @post.description %>

<p></p>
<%= link_to("GO Back to Index","/post/index") %>
</div>

