<div class="container">
    
    <% breadcrumb :post_show %>

<h3>Detail Page</h3>

<div class="row">
<div class="col col-8 bg-primary">Title: <%= @post.post %></div>
<textarea class="form-control" readonly rows=30><%= @post.description %></textarea>
</div>

<div class="index-button">
<a class="btn btn-default" href="/post/index" role="button">Go Back to Index</a>
</div>
</div>
</div>