@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'azuki';
  src: font-url("/assets/azuki.eot");
  src: font-url("/assets/azuki.woff") format("woff"), font-url("/assets/azuki.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.link-to-text-color-black{
    color:black;
}

.footer-copyright {
  padding-top: 30px;
  padding-bottom: 10px;
}

.link-to-text-color-white{
    color:white;
}

.container {
    font-family: 'azuki', 'Noto Sans Japanese','Yu Gothic',YuGothic,sans-serif;

    text-align:center;
}

li {
    list-style:none;
    margin-top:15px;
    margin-right:10px;
    padding-right:30px;
}

.fa-twitter{
    color:#55acee;
}

.fa-twitter:hover{
    opacity: 0.9;
}

.fa-facebook{
    color:#315096;
}

.fa-facebook:hover{
    opacity: 0.9;
}

.fa-google-plus{
    color:#dd4b39;
}

.fa-linkedin{
    color:#0079ba
}

.fa-linkedin:hover{
    opacity: 0.9;
}

#detail {
    margin: 0 auto;
}

.index-button{
    margin-top:15px;

}

.home-title{
    margin-bottom:30px;
}

.search-wrapper {
    margin-top: 30px;

}
.table-post-title {
  font-size: 1.3em;
}

.table-post-title:link, .table-post-title:visited, .table-post-title:hover, .table-post-title:active {
  color: black;
  text-decoration:none;
  background-color: white;
}

.table-post-title:hover {
  font-size: 1.5em;
}

.search-button {
    margin-top: 30px;
}

.search-box {
    width: 60%;

    margin: 0 auto;
}

.front-btn{

    margin-top: 30px;
    margin-bottom: 150px;
}

.nav-link:hover {
    text-decoration:none;
    background-color: rgba(255,0,0,0);
    color:black;
}

.navbar-brand:hover {
  color: black;
  text-decoration:none;
  background-color: rgba(255,0,0,0);
}

.list-inline-item:hover {
    background-color: rgba(255,0,0,0);
}

.btn-floating:hover {
     background-color: rgba(255,0,0,0);
}

.home-wrapper {
    background-image: url("/cpu.jpeg");
    background-size: cover;
}

footer {
    //background-color: transparent;
    background: rgba(255,0,0,0);
}
