@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'azuki';
  src: font-url("/assets/azuki.eot");
  src: font-url("/assets/azuki.woff") format("woff"), font-url("/assets/azuki.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.link-to-text-color-black{
    color:black;
}


.link-to-text-color-white{
    color:white;
}

.container {
    font-family: 'azuki', 'Noto Sans Japanese','Yu Gothic',YuGothic,sans-serif;
    height:800px;
    text-align:center;
}

li {
    list-style:none;
    margin-top:15px;
    margin-right:10px;
    padding-right:30px;
}

.fa-twitter{
    color:#55acee;
}

.fa-facebook{
    color:#315096;
}

.fa-google-plus{
    color:#dd4b39;
}

.fa-linkedin{
    color:#0079ba
}

#detail {
    margin: 0 auto;
}

.index-button{
    margin-top:15px;
    
}

.home-title{
    margin-bottom:30px;
}